.products-item {
  background-color: chocolate;
  color: white;
  padding: 10px 15px;
  margin: 50px 0;
  border-radius: 50px 0 0 0;
  /* outline: 1px solid red; */
  box-shadow: black 0 0 20px 10px;
}
.product-item__title {
  width: 50%;
  height: auto;
  box-sizing: border-box;
  margin: 10px auto;
  padding: 10px 15px;
}

.product-item__description {
}
