body {
  background-image: url(/007/img/bg.png);
  margin: 0;
}
.products-item {
  background-color: coral;
  color: white;
  padding: 10px 15px;
  margin: 0px 0 50px;
  height: 100vh;
}
.products-item:first-child {
  background: coral url(./img/pic01.jpeg) no-repeat;
  background-position: center;
}
.product-item__title {
  width: 50%;
  height: auto;
  box-sizing: border-box;
  margin: 10px auto;
  padding: 10px 15px;
}

.product-item__description {
}
